langchain-groq
langchain
python-dotenv
langchain-community
langchain-ollama
pypdf
faiss-cpu
chromadb
numexpr 
duckduckgo-search
wikipedia
playwright
unstructured
langgraph
jupyter
asyncio
langchain_experimental
pandas
matplotlib
graphviz